<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Admin">
  	<select id="getWeekSales" resultType="Trillion.Palet.DTO.SalesDTO">
  		select sum(totalprice)as salessum, to_char(pay_time, 'YY/MM/DD')as salesdate from payment 
  		where to_char(pay_time, 'YY/MM/DD') >= to_char(sysdate-6, 'YY/MM/DD') 
  		group by to_char(pay_time, 'YY/MM/DD') order by to_char(pay_time, 'YY/MM/DD') desc
  	</select>
  	
  	<update id="adminMemberModi">
		update member set name = #{name}, grade= #{grade}, point = #{point} where email = #{email}  	
  	</update>
  	
  	<delete id="adminMemberBan">
  		delete from member where email = #{value}
  	</delete>
  	
  	<update id="adminMemberUpdate">
  		update member set grade = #{grade} where email = #{email}
  	</update>
  </mapper>