<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Admin">
  
  	<!-- DashBoard -->
  
  	<select id="getWeekSales" resultType="Trillion.Palet.DTO.SalesDTO">
		select sum(totalprice)as salessum , payday as salesdate from (
		select totalprice, to_char(pay_time, 'YY/MM/DD')as payday from payment 
		UNION ALL
		select et_cost as totalprice, to_char(et_buydate, 'YY/MM/DD') as payday from exticket) 
		where payday >= to_char(sysdate-6, 'YY/MM/DD') group by payday order by payday desc
  	</select>
  	
  	<!-- Member -->
  	
  	<update id="adminMemberModi">
		update member set name = #{name}, grade= #{grade}, point = #{point} where email = #{email}  	
  	</update>
  	
  	<delete id="adminMemberBan">
  		delete from member where email = #{value}
  	</delete>
  	
  	<update id="adminMemberUpdate">
  		update member set grade = #{grade} where email = #{email}
  	</update>
  	
  	<!-- Exhibition -->
  	
  	<update id="adminExhibitionUpdate">
  		update exhibition set e_name = #{e_name}, start_date = #{start_date}, end_date = #{end_date}, e_price = #{e_price}, e_period = #{e_period} where e_num = #{e_num}
  	</update>
  	
  	<!-- Goods -->
  	
  	<update id="adminGoodsUpdate">
  		update goods set g_name = #{g_name}, g_stock = #{g_stock}, g_price = #{g_price} where g_num = #{g_num}
  	</update>
  	
  	<!-- Payment -->
  	
  	<select id="paymentSelectByPage" resultType="Trillion.Palet.DTO.TotalPaymentDTO">
  		with total1 as (
		select merchant_uid, name, email, phone, totalprice, pay_time, state, category from payment
		UNION ALL
		select et_booknumber as merchant_uid, et_username as name, et_email as email, et_phone as phone, 
		et_cost as totalprice, et_buydate as pay_time, et_state as state, et_category as category from exticket),
		total2 as(
		select row_number() over(order by pay_time desc) line, merchant_uid, name, email, phone, totalprice, pay_time, state, category
		from total1)
		select merchant_uid, name, email, phone, totalprice, pay_time, state, category from total2 where line between #{start} and #{end}
  	</select>
  	
  	<select id="getPaymentTotalCount" resultType="int">
  		select count(*)
		from (select merchant_uid, name, email, phone, totalprice, pay_time, state, category from payment
		UNION ALL
		select et_booknumber as merchant_uid, et_username as name, et_email as email, et_phone as phone, 
		et_cost as totalprice, et_buydate as pay_time, et_state as state, et_category as category from exticket)
  	</select>
  	  	
  	<select id="paymentSelectUIDByPage" resultType="Trillion.Palet.DTO.TotalPaymentDTO">
  		with total1 as (
		select merchant_uid, name, email, phone, totalprice, pay_time, state, category from payment where merchant_uid like '%'||#{uid}||'%'
		UNION ALL
		select et_booknumber as merchant_uid, et_username as name, et_email as email, et_phone as phone, 
		et_cost as totalprice, et_buydate as pay_time, et_state as state, et_category as category from exticket where et_booknumber like '%'||#{uid}||'%'),
		total2 as(
		select row_number() over(order by pay_time desc) line, merchant_uid, name, email, phone, totalprice, pay_time, state, category
		from total1)
		select merchant_uid, name, email, phone, totalprice, pay_time, state, category from total2 where line between #{start} and #{end}
  	</select>
  	
  	<select id="getPaymentUIDTotalCount" resultType="int">
  		select count(*)
		from (select merchant_uid, name, email, phone, totalprice, pay_time, state, category from payment
		UNION ALL
		select et_booknumber as merchant_uid, et_username as name, et_email as email, et_phone as phone, 
		et_cost as totalprice, et_buydate as pay_time, et_state as state, et_category as category from exticket) where merchant_uid like '%'||#{search}||'%'
  	</select>
  	
  	<select id="paymentSelectNameByPage" resultType="Trillion.Palet.DTO.TotalPaymentDTO">
  		with total1 as (
		select merchant_uid, name, email, phone, totalprice, pay_time, state, category from payment where name like '%'||#{name}||'%'
		UNION ALL
		select et_booknumber as merchant_uid, et_username as name, et_email as email, et_phone as phone, 
		et_cost as totalprice, et_buydate as pay_time, et_state as state, et_category as category from exticket where et_username like '%'||#{name}||'%'),
		total2 as(
		select row_number() over(order by pay_time desc) line, merchant_uid, name, email, phone, totalprice, pay_time, state, category
		from total1)
		select merchant_uid, name, email, phone, totalprice, pay_time, state, category from total2 where line between #{start} and #{end}
  	</select>
  	
  	<select id="getPaymentNameTotalCount" resultType="int">
  		select count(*)
		from (select merchant_uid, name, email, phone, totalprice, pay_time, state, category from payment
		UNION ALL
		select et_booknumber as merchant_uid, et_username as name, et_email as email, et_phone as phone, 
		et_cost as totalprice, et_buydate as pay_time, et_state as state, et_category as category from exticket) where name like '%'||#{search}||'%'
  	</select>
  	
  	<select id="getAdminPayDetail" resultType="Trillion.Palet.DTO.AdminDTO">
  		select merchant_uid, name, email, phone, address1, address2, zipcode, g_name as title,
  		 card_name, card_number, card_quota, state, category, totalprice as price, pay_time, delivery_text, 
  		 g_option as options, g_count as count, point, usedpoint, cpdiscount, cpserial from payment 
  		 where merchant_uid = #{value}
  	</select>
  	
  	<select id="getAdminExticketDetail" resultType="Trillion.Palet.DTO.AdminDTO">
  		select et_booknumber as merchant_uid, et_username as name, et_email as email, et_phone as phone,
		et_title as title, et_place as place, et_paymethod as card_name, et_date as period, et_state as state,
		et_category as category, et_cost as price, et_buydate as pay_time, et_count as count, et_point as point,
		et_usedpoint as usedpoint, et_cpdiscount as cpdiscount, et_cpserial as cpserial from exticket where et_booknumber = #{value}
	</select>
  	
  </mapper>