<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Event"> 

	<insert id="add">
		insert into drawing values(draw_seq.nextval,#{d_title},#{painter},#{d_file},#{email},'N')
		<selectKey order="AFTER" keyProperty="draw_seq" resultType="int">
			select draw_seq.currval from dual
		</selectKey>	
	</insert>
	
	<insert id="picadd">
		insert into drawing_pic values(drawpic_seq.nextval, #{sys_Name}, #{draw_seq})	
	</insert>
	
	<select id="isEmailExist" resultType="boolean">
		select count(*) from drawing_pic where email = #{email}
	</select>
	
	<insert id="testsave">
		insert into drawing values(draw_seq.nextval,#{d_title},#{painter},#{d_file},#{email},'N')
	</insert>
	
	
	<resultMap type="HashMap" id="imgMap">
	  <result property="d_file" column="d_file" jdbcType="CLOB" javaType="java.lang.String" />
	</resultMap>

	<select id="selectImage" parameterType="HashMap" resultType="HashMap" resultMap="imgMap">
	   select d_file from drawing
	</select>
	
	<resultMap type="HashMap" id="selectMap">
	  <result property="draw_seq" column="draw_seq"/>
	  <result property="d_title" column="d_title"/>
	  <result property="painter" column="painter"/>
	  <result property="d_file" column="d_file" jdbcType="CLOB" javaType="java.lang.String" />
	  <result property="email" column="email"/>
	</resultMap>

	<select id="selectAll" parameterType="HashMap" resultType="HashMap" resultMap="selectMap">
	   select * from drawing
	</select>
	
	
</mapper>
	