<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Exticket">


<insert id="insert">
		insert into exticket values(#{et_email}, #{et_title}, #{et_place}, #{et_date}, #{et_booknumber}, #{et_state}, #{et_username}, #{et_phone}, #{et_paymethod},#{et_cardnumber},#{et_cardquota}, #{et_cost}, #{et_count}, #{et_point},#{et_usedpoint},#{et_cpdiscount},#{et_cpserial}, sysdate, #{et_category}, #{e_num})	
	</insert>


</mapper>