<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="File">
  	<insert id="goodsPicInsert">
  		insert into goodspic values(gp_seq.nextval, #{g_num}, #{e_num}, #{gp_oriname}, #{gp_sysname})
  	</insert>
  
  </mapper>