<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Goods">
  	<select id="selectAll" resultType="Trillion.Palet.DTO.GoodsDTO">
  		select * from goods
  	</select>
  	
  	<!-- Admin  -->
  	
  	<insert id="goodsInsert1">
  		insert into goods values(goods_seq.nextval, #{e_num}, #{g_name}, #{g_price}, #{g_option}, default, #{g_stock})
  		<selectKey order="AFTER" keyProperty="g_num" resultType="int">
			select goods_seq.currval from dual
		</selectKey>
  	</insert>
  	
  	<insert id="goodsInsert2">
  		insert into goods(g_num, e_num, g_name, g_price, sales_count, g_stock) values(goods_seq.nextval, #{e_num}, #{g_name}, #{g_price}, default, #{g_stock})
  		<selectKey order="AFTER" keyProperty="g_num" resultType="int">
			select goods_seq.currval from dual
		</selectKey>
  	</insert>
  	
  	<select id="goodsBestSeller" resultType="Trillion.Palet.DTO.GoodsDTO">
  		select * from (select * from goods order by sales_count desc) where rownum=1
  	</select>
  	
  	<select id="goodsSelectByPage" resultType="Trillion.Palet.DTO.GoodsDTO">
  		select * from (select row_number() over(order by g_num desc) line, goods.* from goods) where line between #{start} and #{end}
  	</select>
  	
  	<select id="getGoodsTotalCount" resultType="int">
  		select count(*) from goods
  	</select>
  	
  	<!-- Admin Fin  -->
	
	<select id="selectdetail" resultType="Trillion.Palet.DTO.GoodsDTO">
		select * from goods where g_num = #{value}
	</select>
	<select id="getoption" resultType="Trillion.Palet.DTO.GoodsDTO">
		select * from goods where g_name = #{value}
	</select>
  </mapper>