<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Goods">
  	<select id="selectAll" resultType="Trillion.Palet.DTO.GoodsDTO">
  		select * from goods
  	</select>
  	
  	<!-- Admin  -->
  	
  	<insert id="goodsInsert1">
  		insert into goods values(goods_seq.nextval, #{e_num}, #{g_name}, #{g_price}, #{g_option}, default, #{g_stock})
  		<selectKey order="AFTER" keyProperty="g_num" resultType="int">
			select goods_seq.currval from dual
		</selectKey>
  	</insert>
  	
  	<insert id="goodsInsert2">
  		insert into goods(g_num, e_num, g_name, g_price, sales_count, g_stock) values(goods_seq.nextval, #{e_num}, #{g_name}, #{g_price}, default, #{g_stock})
  		<selectKey order="AFTER" keyProperty="g_num" resultType="int">
			select goods_seq.currval from dual
		</selectKey>
  	</insert>
  	
  	<select id="goodsBestSeller" resultType="Trillion.Palet.DTO.GoodsDTO">
  		select * from (select * from goods order by sales_count desc) where rownum=1
  	</select>
  	
  	<select id="goodsSelectByPage" resultType="Trillion.Palet.DTO.GoodsDTO">
  		select * from (select row_number() over(order by g_num desc) line, goods.* from goods) where line between #{start} and #{end}
  	</select>
  	
  	<select id="goodsJoinSelectByPage" resultType="Trillion.Palet.DTO.GoodsDTO">
  		select * from (select row_number() over(order by g_seq desc) line, e_num, g_seq, g_name, g_price, g_option, g.sales_count, g_stock, e_name from goods g join exhibition e using(e_num)) where line between #{start} and #{end}
  		<trim prefix="order by">
  			<if test="order == 'line'">line</if>
	  		<if test="order == 'e_num'">e_num</if>
	  		<if test="order == 'sales_count'">sales_count desc</if>
	  		<if test="order == 'g_price'">g_price</if>
	  		<if test="order == 'g_name'">g_name</if>
	  		<if test="order == 'g_num'">g_num</if>
	  		<if test="order == 'g_stock'">g_stock</if>
	  		<if test="order == 'e_name'">e_name</if>
  		</trim>	
  	</select>
  	
  	<select id="getGoodsTotalCount" resultType="int">
  		select count(*) from goods
  	</select>
  	
  	<select id="getGoodsJoinTotalCount" resultType="int">
  		select count(*) from 
  		(select e_num, g_num, g_name, g_price, g_option, g.sales_count, g_stock, e_name from goods g join exhibition e using(e_num))
  	</select>
  	
  	<delete id="goodsCheckDelete">
  		delete from goods where g_num = #{value}
  	</delete>
  	
  	<update id="goodsCheckUpdate">
  		update goods set e_num = #{e_num} where g_num = #{g_num}
  	</update>
  	
  	<select id="getGoods" resultType="Trillion.Palet.DTO.GoodsDTO">
  		select e_num, g_num, g_name, g_price, g_option, g.sales_count, g_stock, e_name from goods g join exhibition e using(e_num) where g_num = #{value}
  	</select>
  	
  	<!-- Admin Fin  -->
	
	<select id="selectdetail" resultType="Trillion.Palet.DTO.GoodsDTO">
		select * from (select row_number() over(order by g_num) line, g_seq, g_num, e_num, g_name,g_price,g_option,sales_count,g_contents,
		g_stock,gp_seq,gp_sysname  from (select g_seq, goods.g_num, goods.e_num, g_name,g_price,g_option,sales_count,g_contents,
		g_stock,gp_seq,gp_sysname from goods left outer join goodspic 
		on goods.g_num = goodspic.g_num) where g_num = #{value}) where line = 1 
	</select>
	<select id="getoption" resultType="Trillion.Palet.DTO.GoodsDTO">
		select * from goods where g_num = #{value}
	</select>
	
<!-- 	home top6 -->
	<select id="gettop6goods" resultType="Trillion.Palet.DTO.GoodsDTO">
		select * from 
		(select row_number() over(order by sales_count desc) line, g_num, goods.g_seq, g_name, sales_count,gp_sysname 
		from goods left outer join goodspic using(g_num)) where line between 1 and 6 
	</select>
  </mapper>