<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="Info">
  	<select id="selectAll" resultType="Trillion.Palet.DTO.FaqDTO">
  		select * from faq
  	</select>
  	<delete id="faqDel">
  		delete from faq where faq_seq=#{value}
  	</delete>
  	<update id="faqModi">
  		update faq set title=#{title}, contents=#{contents} where faq_seq=#{faq_seq}
  	</update>
  	<insert id="faqInsert">
  		insert into faq values(faq_seq.nextval, #{title},#{contents})
  	</insert>
  </mapper>