<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Member">
	<insert id="join">
		insert into member (email, pw, name) values(#{email},#{pw},#{name}) 
	</insert>
	
	<select id="isEmailExist" resultType="boolean">
		select count(*) from member where email=#{email}	
	</select>
	
	<select id="login" resultType="boolean">
		select count(*) from member where email=#{email} and pw=#{pw}
	</select>
    <update id="changepw">
    	update member set pw=#{pw} where email=#{email}
    </update>

    <update id="modiname">
    	update member set name=#{name} where email=#{email}
    </update>
    <update id="modiphone">
    	update member set phone=#{phone} where email=#{email}
    </update>
    <update id="modiaddress">
    	update member set postcode=#{postcode},address1=#{address1},address2=#{address2} where email=#{email}
    </update>

    <select id="getmember" resultType="Trillion.Palet.DTO.MemberDTO">
    	select * from member where email=#{email}
    </select>
    
    <delete id="delmember">
    	delete from member where email=#{email}
    </delete>
    
    <insert id="insert">
    	insert into member (
    	 <trim prefixOverrides=",">
    	 	<if test="phone !=''">
    	 		phone
    	 	</if>
    	 	<if test="postcode !=''">
    	 		postcode, address1, address2
    	 	</if>
    	 </trim>
    	 )values(
    	 <trim prefixOverrides=",">
    	 	<if test="phone !=''">
    	 		#{phone}
    	 	</if>
    	 	<if test="postcode !=''">
    	 		#{postcode},#{address1},#{address2}
    	 	</if>
    	 </trim>
    	 )
    </insert>
    
    <update id="changemypage">
    	update member set
    	<trim prefixOverrides=",">
    		<if test="name !=''">
    			name=#{name}
    		</if>
    		<if test="phone !=''">
    			phone=#{phone}
    		</if>
    		<if test="postcode !=''">
    			postcode=#{postcode},address1=#{address1},address2=#{address2} 
    		</if>
    	</trim>
    	where email=#{email}
    </update>
    
    
    
    <!-- Admin -->
    <select id="memberSelectAll" resultType="Trillion.Palet.DTO.MemberDTO">>
    	select * from member order by grade
    </select>
    
    <select id="memberSelectByPage" resultType="Trillion.Palet.DTO.MemberDTO">
  		select * from (select row_number() over(order by grade) line, member.* from member) where line between #{start} and #{end}
  	</select>
  	
  	<select id="getMemberTotalCount" resultType="int">
  		select count(*) from member
  	</select>
    
    
    <!-- Admin Fin -->
    <!-- delivery -->
    <select id="getName" resultType="String">
    	select name from member where email=#{value}
    </select>
    
    
     <update id="updatePoint">
  	update member set point = (point + #{et_point}) -#{et_usedpoint} where email = #{et_email}
  </update>
</mapper>