<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Pay">
  	<insert id="insert">
  		insert into payment values (#{merchant_uid}, #{name}, #{email}, #{phone}, #{address1}, #{address2}, #{zipcode}, #{g_name}, #{card_name}, #{card_number}, #{card_quota}, #{totalprice}, #{delivery_text}, sysdate)
  	</insert>
  	<insert id="myGoods">
  		insert into myGoods values (myGoods_seq.nextval, #{email}, #{merchant_uid}, #{state}, #{name}, #{phone}, #{address1}, #{address2}, #{zipcode}, #{g_name}, #{card_name}, #{card_number}, #{card_quota}, #{totalprice}, #{sales_count}, #{addpoint}, #{usedpoint}, #{serial}, sysdate, #{category}, #{g_num}, #{g_seq}, #{cp_discount}, #{g_option})
  	</insert>
  	<update id="point">
  		update member set point = point - #{usedpoint} + #{addpoint} where email = #{email}
  	</update>
  	  	<update id="coupon">
  		update coupon set used = 'Y' where email = #{email} and serial = #{serial}
  	</update>
  </mapper>