<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="Program">
   
   
   
   
   	
  	
 <update id="updateSalesCount">
  	update program set sales_count=#{pro_count} where p_name = #{pro_title}
  </update>
  
  
  
  
  <!-- Admin  -->
    <select id="programBestSeller" resultType="Trillion.Palet.DTO.ProgramDTO">
  		select * from (select * from program order by sales_count desc) where rownum=1
  	</select>
  	
  	<insert id="programInsert">
  		insert into program values(program_seq.nextval, #{p_name},#{start_date}, #{end_date},default,#{p_price},#{p_period})
  		<selectKey order="AFTER" keyProperty="p_num" resultType="int">
			select program_seq.currval from dual
		</selectKey>
  	</insert>
  	
  	<select id="programSelectByPage" resultType="Trillion.Palet.DTO.ProgramDTO">
  		select * from (select row_number() over(order by p_num desc) line, program.* from program) where line between #{start} and #{end}
  		<trim prefix="order by">
  			<if test="order == 'line'">line</if>
  			<if test="order == 'p_num'">p_num</if>
	  		<if test="order == 'p_name'">p_name</if>
 	  		<if test="order == 'start_date'">start_date</if>
	  		<if test="order == 'end_date'">end_date desc</if> 
	  		<if test="order == 'p_price'">p_price</if>
  			<if test="order == 'p_period'">p_period</if>
  			<if test="order == 'sales_count'">sales_count desc</if>
  		</trim>
  	</select>
  	
  	<select id="getProgramTotalCount" resultType="int">
  		select count(*) from program
  	</select>
  <!-- Admin Fin -->
  </mapper>