<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Shop">
  	<select id="selectBestSeller" resultType="kh.spring.dto.goodsDTO">
  		select goods.g_name, g_price, goods.g_num, gp_sysname from goods 
		left outer join goodspic on goods.g_num = goodspic.g_num
		where goods.e_num = #{e_num}
		<trim prefix="order by">
			<if test="option == 'sell'">sales_count</if>
			<if test="option == 'lowPrice'">g_price</if>
			<if test="option == 'highPrice'">g_price desc</if>
		</trim>
  	</select>  	
  	
  </mapper>