<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Shop">

  	<select id="selectGoods" resultType="Trillion.Palet.DTO.GoodsDTO">
<!-- 		select * from  -->
<!-- 		(select row_number() over(order by ${option}) line, goods.g_name, g_price, goods.g_num, gp_sysname, goods.g_option  -->
<!-- 		from goods left outer join goodspic on goods.g_num = goodspic.g_num  -->
<!-- 		where goods.e_num = #{e_num} ) where line between #{limit} and #{limit}+20 -->
	
	with shop1 as (
			select *
	        from (select  row_number() over (partition by g_name, g_num order by sales_count desc) as test1, goods.* from goods where 1 = 1 and e_num = #{e_num}) left outer join goodspic using(g_num) where test1 = 1  order by sales_count desc 
	        ),
			shop2 as(
			select row_number() over(order by ${option}) line, shop1.* from shop1 )
			select * from shop2 where line between #{limit} and #{limit}+9
  	</select>  	
  	
  	<select id="selectMemberData" resultType="Trillion.Palet.DTO.MemberDataDTO">
  		select member.email, member.grade, member.point, coupon.category, coupon.serial, coupon.dc, coupon.used from member left outer join coupon on member.email = coupon.email where member.email=#{value} and coupon.used = 'N'
  	</select>
  </mapper>	