@charset "UTF-8";

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
		
		/* div{
			border:1px solid black;
		} */
        @media (min-width: 375px) {
            .container {
                max-width: 1280px;

                min-width: 390px;
            }

            html {
                font-size: 12px;
            }

        }

    
        @media (min-width: 1650px) {
            .container {
                max-width: 1280px;

                min-width: 390px;
            }

            html {
                font-size: 16px;
            }

        }


        * {
            box-sizing: border-box;
        }

        .container-fluid {
            padding: 0px;
        }

        .navbar-brand {
            margin: 0px;
            padding: 0px;
            height: 1.875rem;
        }

        #navparent {
            position: fixed;
            font-size: 0;
           /*  padding-left: 2.5rem; */
            padding-right: 2.5rem;
            height: 5rem;
            background-color: white;

        }

        .navbar {

            height: 5rem;
            padding: 0px;

        }

        .row>div {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }


        .nav-item {

            padding-left: 20px;
            padding-right: 20px;
        }

        .nav-link {
            padding: 0px;
            padding-right: 0px;
            padding-left: 0px;

            width: 3.625rem;
            height: 1.5rem;

            /* Button/Button1 */

            font-family: 'Spoqa Han Sans Neo';
            font-style: normal;
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 1.5rem;
            /* identical to box height */

            text-align: center;

            /* Gray/500 */

            color: #919EAB;


            /* Inside auto layout */

            flex: none;
            order: 0;
            flex-grow: 0;

        }

        #Exhibition {
            width: 5.938rem;
            height: 1.5rem;
        }

        #Help {
            width: 2.813rem;
            height: 1.5rem;
        }

        #Login {
            width: 3.313rem;
            height: 1.5rem;
        }

        #Signup {
            width: 4.438rem;
            height: 1.5rem;
        }




        .h1 {


            padding: 0px;



            color: #FFFFFF;


            font-family: 'Spoqa Han Sans Neo';
            font-style: normal;
            font-weight: 700;
            font-size: 4rem;

            line-height: 4.813rem;


        }

        .body1 {


            /* Body/Body1 */

            font-family: 'Spoqa Han Sans Neo';
            font-style: normal;
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 1.875rem;
            /* identical to box height, or 150% */


            color: #FFFFFF;

        }

        .body2 {


            font-family: 'Spoqa Han Sans Neo';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.75rem;
            /* identical to box height, or 175% */

            margin-bottom: 0px;
            color: #000000;


        }
        
        a {
        	cursor: pointer;
        }
		
		input:focus {outline:none;}
		
		input[type=text], input[type=password] {
			padding:  1.125rem 1.5rem;
            gap: 0.625rem;

            /*width: 12.5rem;*/
            width: 100%;
            height: 3.125rem;
            
            /* Gray/900 */
            
            border: 2px solid #C4CDD5;
            border-radius: 0.313rem;
            /* Button/Button */

            font-family: 'Spoqa Han Sans Neo';
            font-style: normal;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 0.5rem;
            
            margin-bottom: 0.625rem;
		}
		
		/*인증코드 보내기 버튼*/
        .btn1 {

            /* padding:  1.12rem 1.5rem; */
            gap: 0.625rem;

            /* width: 12.5rem; */
			width: 100%;
            height: 3.125rem;
            
            /* Gray/900 */
            color:#FFFFFF;
            background: #161C24;
            border-radius: 0.313rem;
            /* Button/Button */

            font-family: 'Spoqa Han Sans Neo';
            font-style: normal;
            font-weight: 500;
            font-size: 1.0rem;
            line-height: 1.2rem;
            cursor: pointer;

        }
        
        .btn1:disabled {
        	color:#FFFFFF;
            background: #C4CDD5;
            cursor: default;
        }
		
		/* join 버튼 */
        .btn2 {

            padding: 1.125rem 1.5rem;
            gap: 0.625rem;


            /* width: 18.813rem; */
            width: 25rem;
            height: 3.75rem;


            color: #FFFFFF;
            border-radius: 1.25rem;
            font-family: 'Spoqa Han Sans Neo';
            font-style: normal;
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 1.5rem;
            /* identical to box height */

            text-align: center;

            /* Gray/900 */

            background: #161C24;
            cursor: pointer;

        }
        
        .btn2:disabled {
        	color:#FFFFFF;
            background: #C4CDD5;
            cursor: default;
        }
        
        .btn3 {



/* display: block; */
/* flex-direction: row;
justify-content: center;
align-items: center; */
padding: 1.125rem 1.5rem;
gap: 0.625rem;


width: 11.625rem;
height: 3.75rem;




background: #161C24;
border-radius: 1.25rem;




font-family: 'Spoqa Han Sans Neo';
font-style: normal;
font-weight: 500;
font-size: 1.2rem;
line-height: 1.5rem;


text-align: center;

color: #FFFFFF;


}

        .btn5 {

            padding: 1.125rem 1.5rem;
            gap: 0.625rem;


            width: 18.813rem;
            height: 3.75rem;


            /* Gray/900 */

            background: #161C24;
            border-radius: 1.25rem;
            font-family: 'Spoqa Han Sans Neo';
                font-style: normal;
            font-weight: 500;
             font-size: 1.23rem;
            line-height: 1.5rem;
                        /* identical to box height */

            text-align: center;

                color: #FFFFFF;




        }

      

        .h4 {

            margin-bottom: 0px;
            font-family: 'Spoqa Han Sans Neo';
            font-style: normal;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.875rem;
            /* identical to box height, or 188% */


            color: #000000;

        }

        .h2 {

            /* width: 10.375rem;
            height: 2.688rem; */



            font-family: 'Spoqa Han Sans Neo';
            font-style: normal;
            font-weight: 700;
            font-size: 2.25rem;
            line-height: 2.688rem;
            text-align: center;

            /* Gray/900 */

            color: #161C24;

        }

        .h2_1 {
            font-family: 'Spoqa Han Sans Neo';
            font-style: normal;
            font-weight: 700;
            font-size: 2.25rem;
            line-height: 2.688rem;


            /* Gray/900 */

            color: white;
        }

        .h3 {

            font-family: 'Spoqa Han Sans Neo';
            font-style: normal;
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.5rem;
            /* identical to box height */


            /* Gray/900 */

            color: #161C24;
        }

        .caption {
            font-family: 'Spoqa Han Sans Neo';
            font-style: normal;
            font-weight: 700;
            font-size: 0.875rem;
            line-height: 1.063rem;
            /* identical to box height */


            /* Gray/500 */

            color: #919EAB;
        }

        
        #row1>div {
            
            padding-left: 0px;
            padding-right: 0px;
        }

        .hcon {
            margin-top: 0.938rem;
            height: 3.75rem;
        }

       

        #main3 {

            height: 42.375rem;


            background: linear-gradient(180deg, #F4F6F8 0%, rgba(244, 246, 248, 0) 100%);

        }

        #footer{
            background: #F4F6F8;
            height: 13.25rem;
        }